@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 47, 47);
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
}

img {
  width: 300px;
}

h1 {
  text-align: center;
  font-size: 4em;
}

@media screen and (max-width: 500px) {
  h1 {
    padding: 1em;
    font-size: 1.5em;
  }
}
